.nav-container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: darkblue;
  align-items: center;
  color: aliceblue;
}

.navbar-right {
  display: flex;
  margin-right: 1.25rem;
}
.navbar-right  a{
 color: aliceblue;
}
li{
list-style: none;
margin-right: 20px;
}
.badge{
  background: blue;
  color: aliceblue;
}
.brand{
  margin-left: 20px;
  font-size: 1.875rem;
}