.nav-container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  display: flex;
  margin-right: 1.25rem;
}
.navbar-right a {
  color: aliceblue;
}
li {
  list-style: none;
  margin-right: 20px;
}
li i,
.cart-brand {
  color: black;
}

.badge {
  background: blue;
  color: aliceblue;
  margin-left: 10px;
}
.brand {
  margin-left: 20px;
  font-size: 1.875rem;
  font-weight: bold;
  color: #6394f8;
}


