@media only screen and (min-width: 900px) {
  .product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 3.125rem;
  }
  .product-container > div {
    flex: 1 1 0px;
  }
  /* .product-details {
    display: flex;
    align-items: center;
    line-height: 40px;
  } */
}
.product-container {
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 3.125rem;
}
img {
  width: 70%;
}
.product-control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-control span {
  margin-right: 20px;
  font-size: 50px;
}
  .product-details {
   text-align: left;
  }